.ri{
    margin-left: 40px;
}
.container{
    display: flex;
    width: 380px;
}
.fris{
    text-align: center;
}

.full_list{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: rgba(75, 153, 198, 0.918);
}

@media only screen and (max-width: 600px) {
.full_list{
    display: flex;
    flex-wrap: wrap;
}
}